<template>
  <div>
    <!-- {{ data }} -->
    <div>
      <h1>{{ data && data.title }}</h1>
      <p>{{ data && data.description }}</p>
    </div>
    <section style="display: flex;">
      <div v-for="slider in sliders" :key="slider.title">
        <h5>{{ slider.title }}</h5>
        <p>{{ slider.smallDesc }}</p>
        <div>
          <div v-for="image in slider.images" :key="image">
            <img
              :src="image"
              alt="image from gallery"
              width="200px"
              height="200px"
            />
          </div>
        </div>
      </div>
    </section>
    <section>
      <nuxt-content :document="data"></nuxt-content>
    </section>
  </div>
</template>

<script>
import imageS from "static/img/img2.jpg";
export default {
  name: "Index",

  data() {
    return {
      data: null,
      sliders: [],
      imageData: import("@/static/img/img2.jpg")
    };
  },

  async asyncData({ $content }) {
    const data = await $content("name").fetch();

    return {
      data,
      sliders: data.header.sliders
    };
  }
};
</script>

<style>
.nuxt-content li {
  color: red;
  font-size: 20px;
}
</style>
